<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<title>This is a partial page header...</title>
<% if(username) { %>
  <p>Username: <%= username %></p>
<% } else { %>
<form method="POST" action="/login">
  <input type="text" name="username" style="width: 300px" placeholder="Username">
  <input type="submit" value="Login">
</form>
<% } %>