<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
</head>

<body style="font-size:20px; padding:100px;">
  <form method="POST" action="/register">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" name="Register">
  </form>

</body>
</html>